<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.title }} USC München">
    <title>USC München</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <img src="http://www.usc-muenchen.de/images/usc_logo.gif" width="150">
        <div class="pure-menu">
            Verein:
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Informationen</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Kinderschwimmen</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Krafttraining</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Impressum</a></li>
            </ul>
            Abteilungen:
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Bogensport</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Einrad</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Eishockey</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Fechten</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Karate</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Leichtathletik</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Rollstuhltanzsport</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Segeln</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Taekwondo</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Turnen</a></li>
            </ul>
            Sonstiges:
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Rollstuhlbasketball</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">DAV Sektion USC</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Linkliste</a></li>
            </ul>
        </div>
    </div>


    <div id="main">
        <div class="header">
            <h1>{{ page.title }}</h1>
        </div>

        <div class="content">
            {{content}}
        </div>
    </div>
</div>
<script src="js/ui.js"></script>
</body>
</html>
